* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

/* navigation */
.navbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.navbar .nav-item a {
  color: #212529;
}

.nav-item {
  margin: 0 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 25px;
  font-weight: bold;
}

.navbar .nav-item .btn {
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  background: #f03e3e;
}

.nav-link.btn.btn-primary:hover,
#search-form button:hover,
.list-group-item a:hover,
#form-box button:hover {
  color: #f03e3e;
  border-color: #f03e3e;
  background: #fff;
}

/* banner */
#top-container {
  margin-bottom: 30px;
  padding: 110px;
  color: #fff;
  border-bottom: 4px solid #013068;
  background-color: #f7f9fc;
  background-image: url("../img/banner.jpg");
  background-size: cover;
}

#main-title {
  padding: 30px 0;
  font-size: 3em;
}

#main-title {
  padding-bottom: 80px;
  font-size: 1em;
}

/* form */
#search-form {
  padding: 30px 100px;
}

#search-form .col-md-10,
#search-form .col-md-2 {
  padding: 0;
}

#search-form input,
#search-form button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  border-radius: 0;
}

#search-form button {
  color: #fff;
  border: 1px solid transparent;
  background: #f03e3e;
}

#search-form button:hover {
  color: #f03e3e;
  border-color: #f03e3e;
  background: #fff;
}

/* list */
#jobs-container {
  padding: 0 100px 50px;
}

#job-list .list-group-item {
  margin-bottom: 8px;
  padding: 15px 80px;
  height: 120px;
  color: #212529;
  border: 1px solid #ccc;
}

#job-list .list-group-item p {
  margin-bottom: 5px;
  font-size: 14px;
}

#job-list .list-group-item.new-job {
  border: none;
  background: #fff7cc;
}

#job-list-title {
  margin-bottom: 35px;
}

.list-group-item img {
  position: absolute;
  left: -40px;
  top: calc(50% - 40px);
  width: 80px;
  border: 1px solid #212529;
  border-radius: 50%;
  background: #fff;
}

.list-group-item a {
  position: absolute;
  top: 35px;
  right: 20px;
  height: 50px;
  line-height: 35px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  background: #f03e3e;
}

.new-job-label {
  position: absolute;
  top: 40px;
  right: 250px;
  display: none;
  padding: 5px 10px;
  color: #4d5154;
  font-weight: bold;
  text-transform: uppercase;
  background: #ffd500;
}

.new-job .new-job-label {
  display: block;
}

/* add page */
#add-form-container {
  margin-top: 100px;
}

#form-box {
  margin-bottom: 50px;
  padding: 50px;
  box-shadow: 0 1px 5px rgba(0,0,0,.15);
  border-radius: 4px;
  background: #fff;
}

#add-form-container h1 {
  margin-bottom: 20px;
}

#add-form-container h2 {
  margin-bottom: 30px;
  color: #f03e3e;
  font-weight: bold;
  font-size: 24px;
}

#add-form-container form label {
  font-weight: bold;
}

#add-form-container form input,
#add-form-container form textarea {
  border: 2px solid #ccc;
  background: #f8f9fa;
}

#form-box button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 0;
  background: #f03e3e;
}

/* job view */
#job-view-container {
  margin-top: 100px;
}

#job-view-container h1 {
  margin-bottom: 30px;
}

#img-container {
  margin: 20px 0 30px;
}

#img-container img {
  width: 100px;
  border: 1px solid #212529;
  border-radius: 50%;
}

.job-desc {
  margin: 0 auto;
  width: 60%;
}

.bold {
  font-weight: bold;
}

.main-color {
  color: #f03e3e;
}

.back-link {
  padding: 5px 10px;
  border: 1px solid #f03e3e;
  transition: .5s;
}

.back-link:hover {
  color: #fff;
  text-decoration: none;
  background: #f03e3e;
}

/* responsivo */
@media (max-width: 480px) {
  /* navbar */
  #navbarNav {
    text-align: center;
  }

  /* home */
  #top-container {
    padding: 100px 50px 50px;
  }

  #main-title {
    font-size: 2.2rem;
  }

  #main-subtitle {
    font-size: 1.5rem;
  }

  #search-form {
    padding: 0;
  }

  #jobs-container {
    padding: 20px;
  }

  .list-group-item {
    padding: 15px 85px;
  }

  .list-group-item h2 {
    width: 80%;
    font-size: 1.2rem;
  }

  .list-group-item img {
    top: calc(50% - 25px);
    left: 15px;
    width: 50px;
  }

  .new-job .new-job-label {
    display: none;
  }

  /* job view */
  .back-link {
    margin-left: 30px;
  }

  #job-view-container {
    font-size: 1.3rem;
  }

  .job-desc {
    width: 80%;
  }

  /* add view */
  #form-box {
    padding: 25px;
  }
  
  #form-box h2 {
    font-size: 1rem;
    text-align: center;
  }

  #form-box button {
    width: 100%;
  }
}